/* SPINNER */
.spinner-charging {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12vw;
  color: #9f60e3;
  animation: loaderOut 1.8s 1 forwards;
}
  
.spinner-center {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $secondary-color;
}

@media screen and (max-width: 768px) {
.loader {
    font-size: 20vw;
  }
}